<%- include('include/_header') %>

<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
        <a href="/" class="border-shadow p-3" ><i class="fas fa-angle-double-left px-5"></i>Retornar para Listagem de Livros</a>
      </div>
    </div>
    <div class="form-title text-center">
      <h2 class="text-dark">Novo Livro</h2>
      <span class="text-light">
        Use o formulário abaixo para inserir novos livros
      </span>
    </div>

    <%- include('include/_form') %>
  </div>
</main>
<%- include('include/_footer') %>